
*{
    margin: 0;
    padding: 0px;
    background-color: rgb(32, 145, 238);
   
}
h1{
    text-align: center;
    font-size: 80px;
    
    margin: 30px;
    
    
}

#cuerpo{
    
    display: flex;
    
      font-size: 16px; 
      
    justify-content: center;
    gap: 20px;
    text-align: center;
    
}
p{
    font-size: 14px;
    font-weight: bold;
}
button{
    background-color: rgba(23, 6, 102, 0.219);
    
    color: black;
    font: 16px bolder;
    font-weight: 800;
    width: 150px;
    height: 40px;
   margin: 18px 5px;
    
    border-radius: 15px;
    
}
form{
    margin: 18px 5px;
}
#side{
    
    border: solid 3px black;
    width: 200px;
    
}
#grid{
    justify-self: center;
    background-color: brown;
    display: flex;
    width: 600px;
    height: 600px;
    border :solid 4px black;
    
    flex-wrap: wrap;
    
    padding: 0px;
    

}
.casilla{
    box-sizing: border-box;
    border: solid 1px black;
    display: inline;
    background-color: rgb(32, 145, 238);
    width:   var(--ancho);
    height:  var(--ancho);
    margin: 0px;
    gap: 0;


}